.image-container {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.cropped-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.activity-figures {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
}

.image-icon {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: space-around;
}

.date-card {
  margin-left: auto;
  margin-right: auto;
  background-color: lightblue;
  font-weight: bold;
}

.pfp-image {
  width: 175px;
  height: 175px;
  object-fit: cover;
  border-radius: 100px;
  align-items: center;
}

.image-row {
  margin-bottom: 10px;
  text-align: center;
}

.img-holder .link {
    position: absolute;
    bottom: 10px; /*your button position*/
    right: 10px; /*your button position*/
}
