.image-container {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.cropped-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.activity-figures {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
}

.image-icon {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: space-around;
}

.date-card {
  margin-left: auto;
  margin-right: auto;
  background-color: lightblue;
  font-weight: bold;
}
